---
title: MAЯP
manpage_title: Miguel Angel Rodriguez Perez
manpage_title_short: MARP
manpage_version: 3.0.1
manpage_date: May 2021
layout: manpage-content
---
<section class="name flex-column y-center h-33vh-bg">
<div class="y-center no-grow mb-3">

  <h5>NAME</h5>
     
</div>

<div class="align-end w-95">
	<div class="pb-3 flex-column flex-row-md x-start y-end">
		{% include logo class="no-grow mr-3 mb-2" limit="ascii_art_only" %}
		<h6 class="no-grow flex-row flex-column-md mt-1">
			<span class="mr-2 highlight-alt">SOFTWARE</span> <span class="highlight-alt">DEVELOPER</span>
		</h6>
	</div>
</div>

</section>

<section class="synopsis flex-column y-center h-33vh-bg">

<div class="y-center no-grow mb-3">
  <h5>SYNOPSIS</h5>
</div>

<div class="align-end w-95">

{% capture sinapsys %}<span class="yellow-alt">marp</span>	[<span class="danger">--dev</span>]		[ <span class="danger">--frontend</span> ]  [<span class="danger">--tech</span>=&lt;tech&gt;, ...]
			[ <span class="danger">--backend</span>  ]  [<span class="danger">--lang</span>=&lt;prog_lang&gt;] [<span class="danger">--tech</span>=&lt;tech&gt;, ...]
			[ <span class="danger">--game-dev</span> ]
	[<span class="danger">--FLOSS</span>]{% endcapture %}
<p class="display-none display-inherit-bg pre">{{sinapsys}}</p>
<p class="display-none-bg display-inherit pb-3"><span class="yellow-alt">marp</span>&nbsp;<span>[<span class="danger">--dev]</span>&nbsp;<span>[ <span class="danger">--frontend</span> |</span><span> <span class="danger">--backend</span> ]</span></p>

</div>

</section>

<section class="description flex-column y-center h-33vh-bg">

	<div class="y-center no-grow mb-3">
		<h5>DESCRIPTION</h5>
	</div>

<div class="align-end w-95">

    <p><span class="yellow-alt">marp</span>; Miguel Angel Rodriguez Perez<br/>
<b>Software developer</b>.
Specialized in web development with experience with Frontend and Backend.
What he lacks on skill he compensates with dedication.
'integral, loyal & optimistic tech lover' is a possible description for him.</p>
    
	<p>

		<span>REFERENCES:&nbsp;&nbsp;</span>

		<a href="https://stackoverflow.com/users/1310671/marp">StackOverflow</a>,&nbsp;
		<a href="https://gitlab.com/_marp">GitLab</a>,&nbsp;
		<a href="https://github.com/marp-dev">GitHub</a>,&nbsp;
		<a href="https://www.upwork.com/o/profiles/users/_~0108fc10c53d8449d4/">Upwork</a>

	</p>

</div>
</section>

<section class="info mt-5">
<div class="row mb-3">

  <div class="col"><h5>INFO</h5></div>
     
</div><!-- /.row -->
<div class="row x-end">

  <div class="col w-95 no-grow">
    <div class="flex-row-md flex-column">
		<div class="w-50-md">
			<div class="ascii-art no-decoration">{% include _ascii_portrait %}</div>
		</div>

		<div class="w-50-md">
			<p>Full Name: Miguel Ángel Rodríguez Pérez<br/>
			Gender: Male<br/>
			Languages: Spanish, English.<br/>
			Hobbys: Video Games, Anime & Manga,<br/>
			Working out, Boxing.</p>
			<br/>
			<div class="flex-row">
				<a class="no-grow" href="https://github.com/marp-dev/marp-dev/blob/github/RESUME.md">[RESUME]</a>
			</div>
	    </div>
	</div> <!-- ./flex -->
  </div> <!-- ./col -->

</div><!-- /.row -->
<div class="row x-end mt-2">

  <div class="col w-95 no-grow">
	  <p>
		Web Developer, FullStack, Jamstack, Serverless, Expert Programmer, IT Generalist,
		SQL Programming, +10 years experience.
		<br/>
		<br/>
		SKILLS;
		HTML, CSS, SASS, Javascript (& ES6), Ruby, PHP, Vue, React, SQL
	  </p>
  </div> <!-- ./col -->
     
</div><!-- /.row -->
</section>

<br/>
<br/>
<br/>

<section class="portfolio mt-5">
	<div class="row mb-3">

		<div class="col"><h5>PORTFOLIO</h5></div>
		   
	  </div><!-- /.row -->
	  <div class="row x-end  mt-4">

	  <div class="col w-95 no-grow"> <!-- content -->

		<div class="flex-row-md flex-column">

			<div class="w-50-md mb-4">
				{% include logo class="no-grow mr-3 mb-2" limit="normal_ascii_art_only" url="https://github.com/marp-dev/marp-dev/wiki/PORTFOLIO" %}
				<a class="ws text ascii-art no-decoration flex-column flex-row-md" href="https://github.com/marp-dev/marp-dev/wiki/PORTFOLIO">
<span class="no-grow float-left mr-2">
▄▄▄  ▄▄▄▄ ▄▄▄  ▄▄▄▄▄
█▄▄▀ █  █ █▄▄▀   █  
█    █▄▄█ █  █   █  
</span>
<span class="no-grow float-left">
▄▄▄▄ ▄▄▄▄ ▄    ▄ ▄▄▄▄
█▄▄▄ █  █ █    █ █  █
█    █▄▄█ █▄▄▄ █ █▄▄█
</span>
				</a>
			</div>

			<div class="w-50-md">

				<p>
					For More information about previous works and
					projects involvement please check the <a href="https://github.com/marp-dev/marp-dev/wiki/PORTFOLIO">Portfolio</a>.<br/>
					You can also find Sample projects from small
					to mid size.<br/>
					There are React and Vue repositories available.
				</p>
	
			</div>

		</div> <!-- ./flex -->

	  </div> <!-- ./content -->
  
	</div><!-- /.row -->
</section>

<br/>
<br/>
<br/>

<section class="see-also mt-5">
<div class="row mb-3">

  <div class="col"><h5>SEE ALSO</h5></div>
     
</div><!-- /.row -->
<div class="row x-end">

  <div class="col w-95 no-grow"> <!-- content -->

    <p class="mb-4">If you want to contact me you can send a message through <a href="https://www.upwork.com/o/profiles/users/_~0108fc10c53d8449d4/">UpWork</a></p>

    <p>You can also check my <a href="{{"/web_logs/"|relative_url}}">WebLogs</a>;</p>

  </div> <!-- ./content -->

</div><!-- /.row -->
<div class="row x-end">

  <div class="col w-95 no-grow"> <!-- content -->

    <ul class="my-5 w-66vw" type="none">
    {% for web_log in site.web_logs %}
    <li class="flex-column flex-row-md x-center x-left-md">
    {% include {{web_log.name}} width="500" height="100" %}
    <div class="pl-3 y-center">{{web_log.content|markdownify}}</div>
    </li>
    {% endfor %}
    </ul>

  </div> <!-- ./content -->
     
</div><!-- /.row -->
</section>
