---
layout: boxdrawn
permalink: /web_logs/
---
<ul class="my-5" type="none">
{% for web_log in site.web_logs %}
<li class="flex-column flex-row-md x-center x-left-md">
{% include {{web_log.name}} %}<br>
<div class="pl-3 y-center">{{web_log.content|markdownify}}</div>
</li>
{% endfor %}
</ul>
