<nav role="navigation" class="{{ include.class|default:'col bottom-navigation' }}">
  <ul class="menu">
    {% for entry in site.data.bottom_navigation %}
    <li>
      <a href="{{entry.link|relative_url}}" class="button" title="{{entry.title}}">{{entry.name}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

