      <footer role="contentinfo">
        <h2>HTML5 Badge</h2>

        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
        <div>
        <a href="http://www.w3.org/html/logo/">
        <img alt="HTML5 Powered with CSS3 / Styling, and Semantics" height="47" src="{{ "files/html5-badge-h-css3-semantics.png"|relative_url }}" title="HTML5 Powered with CSS3 / Styling, and Semantics" width="120">
        </a>
        </div>
        </div>
      </footer>
