//
// FLEX
//
@mixin flex($direction: row, $element: null){

	@if $element == null {
		$element: '*';
	}
	$x: null;
	$y: null;
	@if $direction == row {
		$x: x;
		$y: y;
	}@else{
		$direction: column;
		$x: y;
		$y: x;
	}

	display: flex;
    flex-direction: $direction;
    & > #{$element}{
        flex-grow: 1;
        @for $i from 1 through 10 {
            &.grow-#{$i}{
                flex-grow:#{$i} !important;
            }
        } 
        &.no-grow{ flex-grow: 0; }
        &.align-center, &.#{$y}-center{ align-self: center; }
        &.align-start, &.#{$y}-start{ align-self: flex-start; }
        &.align-end, &.#{$y}-end{ align-self: flex-end; }
    }
    &.justify-between, &.#{$x}-between{ justify-content: space-between; }
    &.justify-around, &.#{$x}-around{ justify-content: space-around; }
    &.justify-center, &.#{$x}-center{ justify-content: center; }
    &.align-center, &.#{$y}-center{ align-items: center; }
    &.justify-start, &.#{$x}-start{ justify-content: flex-start; }
    &.align-start, &.#{$y}-start{ align-items: flex-start; }
    &.justify-end, &.#{$x}-end{ justify-content: flex-end; }
    &.align-end, &.#{$y}-end{ align-items: flex-end; }

}
.flex{
	
    @include media_breakpoints using ($breakpoint, $suffix){
        &-column#{$suffix}{
    		@include flex(column);
    	}
    	&-row#{$suffix}{
    		@include flex(row);
        }
    }
}

//
// CONTAINER / ROW / COL
//
$container-spacing: 20px !default;
$grid-spacing: 12px !default;
@include breakpoint-medium {
    $container-spacing: 40px;
    $grid-spacing: 25px;    
}
.container{
    padding-left: ($container-spacing / 2) + ($grid-spacing / 2);
    padding-right: ($container-spacing / 2) + ($grid-spacing / 2);
    &.no-spacing{
        padding-left: $grid-spacing / 2;
        padding-right: $grid-spacing / 2;
    }
    .row{
		@include flex(row, '.col');
        margin-left: ($grid-spacing / 2) * -1;
        margin-right: ($grid-spacing / 2) * -1;
        & > .col{
            padding-left: $grid-spacing / 2;
            padding-right: $grid-spacing / 2;
            &.no-spacing{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

//
// TEXT
//
.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.pre{
	&, & *{
		white-space: pre;
	}
}
.ascii-art{
	@extend .pre;
	&, & *{
		font-family: $monospace;
		font-family: var(--monospace);
		line-height: 1em;	
		font-size:1em;
		word-spacing: 0;
	}
}
//
// SPACING
//
$margin-limit: 5;
@mixin apply-spacing($rule, $auto: true){
	&-0{
		#{$rule}: 0;
	}
	@for $i from 1 through $margin-limit {
        &-#{$i}{
            #{$rule}: 1.5rem * ($i / $margin-limit);
        }
	}
	@if $auto{
		&-auto{
			#{$rule}: auto;
		}	
	}
}
.m{
	@include apply-spacing(margin-left);
	@include apply-spacing(margin-right);
	@include apply-spacing(margin-top);
	@include apply-spacing(margin-bottom);
	&x{
        @include apply-spacing(margin-left);
        @include apply-spacing(margin-right);
    }
    &y{
        @include apply-spacing(margin-top);
        @include apply-spacing(margin-bottom);
    }
    &t{
        @include apply-spacing(margin-top);
    }
    &b{
        @include apply-spacing(margin-bottom);
    }
    &l{
        @include apply-spacing(margin-left);
    }
    &r{
        @include apply-spacing(margin-right);
    }
}
.p{
	@include apply-spacing(padding-left);
	@include apply-spacing(padding-right);
	@include apply-spacing(padding-top);
	@include apply-spacing(padding-bottom);
	&x{
        @include apply-spacing(padding-left);
        @include apply-spacing(padding-right);
    }
    &y{
        @include apply-spacing(padding-top);
        @include apply-spacing(padding-bottom);
    }
    &t{
        @include apply-spacing(padding-top);
    }
    &b{
        @include apply-spacing(padding-bottom);
    }
    &l{
        @include apply-spacing(padding-left);
    }
    &r{
        @include apply-spacing(padding-right);
    }
}
.overflow{
	&-hidden{
		overflow: hidden;
	}
	&-visible{
		overflow: visible;
	}
}

//
// POSITIONING
//

// tblr?! O.o!
// tblr == Top Bottom Left Right
// used for the positioning classes bellow
@mixin tblr{ 
    &.top{
        top:0;
        @include apply-spacing(top, false);
    }
    &.left{
        left:0;
        @include apply-spacing(left, false);
    }
    &.right{
        right:0;
        @include apply-spacing(right, false);
    }
    &.bottom{
        bottom:0;
        @include apply-spacing(bottom, false);
    }
}
.position{
    &-relative{
        position:relative;
    }
    &-absolute{
        position:absolute;
        @include tblr;
    }
    &-sticky{
        position:sticky;
        @include tblr;
    }
    &-static{
        position:static;
        @include tblr;
    }
}
.float{
    &-left{ position:relative;float:left; }
    &-right{ position:relative;float:right; }
}

//
// SIZING
//
@mixin sizing($rule) {
    @include media_breakpoints using ($breakpoint, $suffix){

        @each $i in (0.5, 1, 1.5, 2, 2.5, 3, 4, 5, 7, 7.5, 8, 8.5, 9, 9.5, 10) {
            $size: $i * 10;
            &-#{$size}#{$suffix}{
                $perc: #{$size}#{'%'};
	    		#{$rule}: $perc !important;
            }
        }
	    &-33#{$suffix}{ #{$rule}: 33.33% !important; }
	    &-66#{$suffix}{ #{$rule}: 66.66% !important; }
    }
}
:root{
	--start-limit-vh:0px;
	--start-limit-vw:0px;
	--end-limit-vh:0px;
	--end-limit-vw:0px;
}
@mixin sections($rule) {
    @include media_breakpoints using ($breakpoint, $suffix){

        $unit: null !default;
    	@if $rule == width{ $unit: vw; }
    	@if $rule == height{ $unit: vh; }
    	@if $unit != null {
    		@for $i from 1 through 6 {
    			$total: ($i * 100) / 6;
    			$perc: ($i * 1) / 6;
                    &-#{math.floor($total)}#{$unit}#{$suffix}{
        				#{$rule}: #{$total}#{$unit};
        				#{$rule}: calc( #{$total}#{$unit} - ( (var(--start-limit-#{$unit}) + var(--end-limit-#{$unit})) * #{$perc} ) );
        			}
            }	
        }

    }
}
.w{
	@include sizing(width);
    @include media_breakpoints using ($breakpoint, $suffix){
        &-auto#{$suffix}{ width:auto; }
        &-min#{$suffix}{ width:min-content; }
        &-max#{$suffix}{ width:max-content; }
    }
	@include sections(width);
}
.h{
	@include sizing(height);
    @include media_breakpoints using ($breakpoint, $suffix){
        &-auto#{$suffix}{ height:auto; }
    	&-min#{$suffix}{ width:min-content; }
        &-max#{$suffix}{ width:max-content; }
    }
	@include sections(height);
}

//
// GRID
//
.grid{
    display: grid;
    grid-auto-columns:1fr;
    grid-auto-rows:1fr;

    @for $i from 1 through 9 {
        .sc#{$i}{
            grid-column-start:$i;
        }
        .sr#{$i}{
            grid-row-start:$i;
        }
    }
    @for $i from 2 through 10 {
        .ec#{$i}{
            grid-column-end:$i;
        }
        .er#{$i}{
            grid-row-end:$i;
        }
    }

}

//
// DISPLAY
//
.display{
    $options: inline, block, flex, inherit, none;
    @include media_breakpoints using ($breakpoint, $suffix){
        @each $option in $options{
            &-#{$option}#{$suffix}{
                display: $option;
            }
        }
    };
}