//links
a{
	&:not(.text){
		color:map.get($default-theme, clickable-color);
		color:var(--clickable-color);
		text-decoration: underline map.get($default-theme, clickable-color);
		text-decoration: underline var(--clickable-color);
		img{ // img? yes, for the alt
		  color:map.get($default-theme, clickable-color);
		  color:var(--clickable-color);
		}
		&.is-active, &:active, &:hover{
		  background:map.get($default-theme, clickable-color);
		  background:var(--clickable-color);
		  color:map.get($default-theme, clickable-font);
		  color:var(--clickable-font);
		  text-decoration: underline map.get($default-theme, clickable-font);
		  text-decoration: underline var(--clickable-font);
		}
	}
	&.no-decoration{
		text-decoration:none !important;
	}
	&.text{
		&, &:hover, &:active{
		  color:map.get($default-theme, background-font);
		  color:var(--background-font);
		  text-decoration:none;
		}
	}	  
}

//button
.button{
  display:inline-block;
  background-color:map.get($default-theme, clickable-color);
  background-color:var(--clickable-color);
  border-radius:0;
  color:map.get($default-theme, clickable-font) !important;
  color:var(--clickable-font) !important;
  text-decoration:underline transparent !important;
  &:not(.wrapper){
    //styles button wrappers should not have
    padding-left:8px;
    padding-right:8px;
    box-shadow: -3px 3px 0px 0px $black;
  }
  &.wrapper{
    position:relative;
    input{
      padding:3px 15px;
      border:0px solid transparent;
      box-shadow: -3px 3px 0px 0px $black;
    }
    &::before, &::after{
		position:absolute !important;
		top:4px;
		color:map.get($default-theme, clickable-font);
		color:var(--clickable-font);
	}
    &::before{ left:2px; }
    &::after{ right:5px; }
  }
  &:active, &.is-active{
    background-color:map.get($default-theme, clickable-color);
    background-color:var(--clickable-color);
    box-shadow: 0px 0px 0px 0px $black;
    &::before, &::after{ font-weight:bold !important; }
  }
  &:hover{
    background-color:map.get($default-theme, clickable-alt) !important;
    background-color:var(--clickable-alt) !important;
    text-decoration:underline map.get($default-theme, clickable-font) !important;
    text-decoration:underline var(--clickable-font) !important;
    //hover animation goes here
    //by now empty
  }
  &::after{
    content:">";
    display:inline-block;
    color:map.get($default-theme, clickable-font);
    color:var(--clickable-font);
    font-weight:normal;
  }
  &::before{
    content:"<";
    display:inline-block;
    color:map.get($default-theme, clickable-font);
    color:var(--clickable-font);
    font-weight:normal;
  }
}

.button-secondary{
  @extend .button;
  background-color:map.get($default-theme, clickable-color);
  background-color:var(--clickable-color);
  color:map.get($default-theme, clickable-font);
  color:var(--clickable-font);
  &:active, &.is-active{
    background-color:map.get($default-theme, clickable-color);
    background-color:var(--clickable-color);
    color:map.get($default-theme, clickable-font);
    color:var(--clickable-font);
  }
  &:hover{
    background-color:map.get($default-theme, clickable-color);
    background-color:var(--clickable-color);
    color:map.get($default-theme, clickable-font);
    color:var(--clickable-font);
  }
}

