.input{
  background-color:map.get($default-theme, clickable-color);
  background-color:var(--clickable-color);
  border:0px solid transparent !important;
  border-radius:0;
  padding:5px;
  color:map.get($default-theme, clickable-font);
  color:var(--clickable-font);
}
.checkbox-elem{
  $size:20px !default;
  position:relative;
  width: $size;
  height: $size;
  display: inline-block;
  input[type=checkbox]{
    width:$size;
    height:$size;
    & + ::before, & + ::after{
      content:".";
      display:block;
      position:absolute;
      top:0;
      left:0;
      color:transparent;
      pointer-events:none;
      box-sizing:border-box;
    }
    & + ::before{
      width:$size;
      height:$size;
	  background-color:map.get($default-theme, clickable-color);
	  background-color:var(--clickable-color);
	}
    & + ::after{
      width:$size * 0.70;
      height:$size * 0.70;
      background-color:transparent;
      margin-top:$size * 0.15;
      margin-left:$size * 0.15;
      border-radius:50%;
    }
    &:checked + ::after{
	  background-color:map.get($default-theme, clickable-font);
	  background-color:var(--clickable-font);
    }
  }
}

input[type=text], input[type=search], input[type=email], input[type=password], input[type=url], textarea, select{
  @extend .input;
}

.button.wrapper, button, .tabs li a{
  @extend .button;
}

.filter-wrapper{
  //this is often seen in comment forms
  //its border will be 'removed'
  border-width:0;
  border-style:solid;
  border-color:transparent;
}
