html{
    
  //these are the settings of the screen
  background-color:map.get($default-theme, background-color);
  background-color:var(--background-color);
  //this is the efect of the screen
  &:before{
    content:" ";
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%),
      linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    z-index:2000;
    pointer-events:none;
  }

}
