html{
    
  body{
    position:relative;
  }

  img{
    max-width: 100%;
    height: auto;
  }
  svg{
    max-width: 100%;
  }

  input{
    max-width: 100%;
  }

  ul{
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    &[type=none]{
      padding-left:0;
    }
  }

}

body, header, .site-content, footer{
background:transparent;
}
