figure{
    display: inline-block;
    position: relative;
	margin: 3px auto;
	background-color: map.get($default-theme, background-alt);
	background-color: var(--background-alt);
	max-width:100%;
	& > img, & > a, & > a > img, & > a > svg{
		margin:0;
		padding:0;
		display:block;
	}
	& > a::before{
		content:".";
		color:transparent;
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;	
	}
    figcaption{
    	max-width:min-content;
    	min-width:100%;
		width:min-content;
		& > *{
			padding-left:5px;
			//&:first-child{
			//	padding-top:5px;
			//}
		}
    	*, span, b, strong, p{
			color:map.get($default-theme, background-font);
			color:var(--background-font);
			fill:map.get($default-theme, background-font);
			fill:var(--background-font);
			text-decoration:none;
		}
	    a{
			position: relative;
			z-index:2;
			&:not(.text){
				color:map.get($default-theme, background-font);
				color:var(--background-font);
				text-decoration:underline map.get($default-theme, background-font);
				text-decoration:underline var(--background-font);
			}
		}
    }
    &.clickable{
		& > a{
			&, & > svg, & > svg *{
				color:map.get($default-theme, clickable-alt);
				color:var(--clickable-alt);
				fill:map.get($default-theme, clickable-alt);
				fill:var(--clickable-alt);
			}
		}
      figcaption{
		*, span, b, strong, p, a{
			color:map.get($default-theme, clickable-alt);
			color:var(--clickable-alt);
			fill:map.get($default-theme, clickable-alt);
			fill:var(--clickable-alt);
			text-decoration:none;
		}
		a:not(.text){
			color:map.get($default-theme, clickable-alt);
			color:var(--clickable-alt);
			text-decoration:underline map.get($default-theme, clickable-alt);
			text-decoration:underline var(--clickable-alt);
		}
      }
      &:hover{
        background-color: map.get($default-theme, clickable-alt);
		background-color: var(--clickable-alt);
		& > a{
			&, & > svg, & > svg *{
				color:map.get($default-theme, clickable-font);
				color:var(--clickable-font);
				fill:map.get($default-theme, clickable-font);
				fill:var(--clickable-font);
			}
		}
		a:not(.text){
			background-color: map.get($default-theme, clickable-alt);
			background-color: var(--clickable-alt);	
		}
		figcaption{
	        color:map.get($default-theme, clickable-font);
	        color:var(--clickable-font);
        	*, span, b, strong, p, a{
				color:map.get($default-theme, clickable-font);
				color:var(--clickable-font);
				fill:map.get($default-theme, clickable-font);
				fill:var(--clickable-font);
				text-decoration:none;
			}
			a:not(.text){
				color:map.get($default-theme, clickable-font);
				color:var(--clickable-font);
				text-decoration:underline map.get($default-theme, clickable-font);
				text-decoration:underline var(--clickable-font);
			}
		}
      }
    }
}