html{

  *{

    font-family:$regular-font;
    font-family:var(--regular-font);
    color:map.get($default-theme, background-font);
    color:var(--background-font);
    font-size:$font-size;
	font-size:var(--font-size);
	line-height:$line-height;
	line-height: var(--line-height);
  
  }

  strong, b{
	  color:map.get($default-theme, highlight-alt);
	  color:var(--highlight-alt);
    //by now bold style will just use a highlight color
    font-weight: normal; //usually terminals do not have bold style
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	display:flex;
	align-items: center;
	margin-top:0.5rem;
	margin-bottom:1rem;
    &, & * {
		font-family:$big-font;
		font-family:var(--big-font);
		line-height: 1;
		color:map.get($default-theme, highlight-color);
		color: var(--highlight-color);
    }
	& *{
		margin-top:0;
		margin-bottom:0;
	}
	&::before{
		margin-right:5px;
		white-space: pre;
	}
  }
  h1, .h1{
    &, & * {
//      font-size:$font-size * 1.5 !important;
//      font-size:calc(var(--font-size) * 1.5) !important;
		text-transform: uppercase;
    }
	&::before{
		content:'##\a##\a##';
	}
  }
  h2, .h2{
    &, & *  {
//      font-size:$font-size * 1.4 !important;
//      font-size:calc(var(--font-size) * 1.4) !important;
		text-transform: uppercase;
    }
	&::before{
		content:'#\a#\a#';
	}
  }
  h3, .h3{
    &, & * {
//      font-size:$font-size * 1.3 !important;
//      font-size:calc(var(--font-size) * 1.3) !important;
		text-transform: uppercase;
    }
	&::before{
		content:'#';
	}
  }
  h4, .h4{
    &, & * {
//      font-size:$font-size * 1.2 !important;
//      font-size:calc(var(--font-size) * 1.2) !important;
		text-transform: uppercase;
    }
  }
//  h5, .h5{
//    &, & * {
//      font-size:$font-size * 1.1 !important;
//      font-size:calc(var(--font-size) * 1.1) !important;
//    }
//  }
//  h6, .h6{
//    &, & * {
//      font-size:$font-size;
//      font-size:var(--font-size);
//    }
//  }
  .monospace{
		font-family: $monospace;
		font-family: var(--monospace);
  }

}

