html.boxdrawn-layout{
	width:100%;height:100%;
	body{
		width:100%;height:100%;
		.layout-container{

			width:100%;
			//height:100%;
			display:grid;
	
			grid-template-columns: 1fr;
			grid-template-rows: #{$nav-height} min-content 1fr min-content 30px;
			grid-template-areas: 
			"nav"
			"logo"
			"content"
			"side"
			"bar";

			@include breakpoint-medium{
				width:100%;height:100%;
				display:grid;
				overflow:hidden;

				grid-template-columns: 2fr 1fr;
				grid-template-rows: #{$nav-height} min-content 1fr 30px;
				grid-template-areas: 
				"nav		nav"
				"content	logo"
				"content	side"
				"bar		bar";

				.content-section{
					@include boxdrawn($boxdrawn-single-border);
					border-top:0px solid transparent;
					border-left:0px solid transparent;
					border-right:0px solid transparent;
				}
				.logo-section{
					@include boxdrawn($boxdrawn-single-border);
					border-top:0px solid transparent;
					border-right:0px solid transparent;
					border-bottom:0px solid transparent;
				}
				.side-section{
					$border: (bottom-left-char: '┴');
					$border: map.merge($boxdrawn-single-border, $border);
					@include boxdrawn($border);
					border-top:0px solid transparent;
					border-right:0px solid transparent;

					@include flex(column);
				}

				&.no-sidebar{
					grid-template-columns: 1fr;
					grid-template-rows: #{$nav-height} 1fr 30px;
					grid-template-areas: 
					"nav"
					"content"
					"bar";

					.logo-section{
						border-left:0px solid transparent;					
					}
				}
			};

			header{ grid-area: nav; }
			.content-section, .side-section{
				position:relative;
				height:100%;
				overflow-x: auto;
				overflow-y: scroll;
				@include scroller;
			}
			.content-section{
				grid-area: content;
				padding:10px;
			}
			.logo-section{
				--font-size:20px;
				font-size:20px;
				font-size:var(--font-size);
				grid-area: logo;
				text-align: center;
				padding-top:25px;
				padding-bottom:25px;
			}
			.side-section{
				grid-area: side;
			}
			.bar{
				grid-area: bar;
				height:30px;
				line-height: 30px;
				padding-left: 6px;
				background-color: map.get($default-theme, background-color);
				background-color: var(--background-color);
				*{margin-top:0;margin-bottom:0;}
			}

			.preview{
				width: 70%;
				width: calc(90% - #{$boxdrawn-border-width});
				margin-left:10px;
				&:first-child{margin-top:10px;}
				@include boxdrawn($boxdrawn-single-border);
				@include boxshadow;
			}

		}
	}
}