$boxdrawn-border-colors: (
	top-left:ui-alt,
	top:ui-alt,
	top-right:ui-alt,
	left:ui-alt,
	right:ui-alt,
	bottom-left:ui-alt,
	bottom:ui-alt,
	bottom-right:ui-alt
);
$boxdrawn-double-border: (
	top-left-char: '╔',
	top-char: '═',
	top-right-char: '╗',
	left-char: '║',
	right-char: '║',
	bottom-left-char: '╚',
	bottom-char: '═',
	bottom-right-char: '╝'
);
$boxdrawn-single-border: (
	top-left-char: '┌',
	top-char: '─',
	top-right-char: '┐',
	left-char: '│',
	right-char: '│',
	bottom-left-char: '└',
	bottom-char: '─',
	bottom-right-char: '┘',
);
$boxdrawn-border-width:11px;
@mixin boxdrawn($border-chars: $boxdrawn-double-border, $border-colors: $boxdrawn-border-colors){
	$border-width: $boxdrawn-border-width;
	border: #{$border-width} solid transparent;

	//$color: '%23#{string.slice(#{map.get($default-theme, background-font)}, 2)}';
	$top-left: '%23#{string.slice(#{map.get($default-theme, map.get($border-colors, top-left))}, 2)}';
	$top: '%23#{string.slice(#{map.get($default-theme, map.get($border-colors, top))}, 2)}';
	$top-right: '%23#{string.slice(#{map.get($default-theme, map.get($border-colors, top-right))}, 2)}';
	$left: '%23#{string.slice(#{map.get($default-theme, map.get($border-colors, left))}, 2)}';
	$right: '%23#{string.slice(#{map.get($default-theme, map.get($border-colors, right))}, 2)}';
	$bottom-left: '%23#{string.slice(#{map.get($default-theme, map.get($border-colors, bottom-left))}, 2)}';
	$bottom: '%23#{string.slice(#{map.get($default-theme, map.get($border-colors, bottom))}, 2)}';
	$bottom-right: '%23#{string.slice(#{map.get($default-theme, map.get($border-colors, bottom-right))}, 2)}';
	//--top-left:'#{$top-left}';
	//--top:'#{$top}';
	//--top-right:'#{$top-right}';
	//--left:'#{$left}';
	//--right:'#{$right}';
	//--bottom-left:'#{$bottom-left}';
	//--bottom:'#{$bottom}';
	//--bottom-right:'#{$bottom-right}';

	$top-left-char: map.get($border-chars, top-left-char);
	$top-char: map.get($border-chars, top-char);
	$top-right-char: map.get($border-chars, top-right-char);
	$left-char: map.get($border-chars, left-char);
	$right-char: map.get($border-chars, right-char);
	$bottom-left-char: map.get($border-chars, bottom-left-char);
	$bottom-char: map.get($border-chars, bottom-char);
	$bottom-right-char: map.get($border-chars, bottom-right-char);
	//--top-left-char:'#{$top-left-char}';
	//--top-char:'#{$top-char}';
	//--top-right-char:'#{$top-right-char}';
	//--left-char:'#{$left-char}';
	//--right-char:'#{$right-char}';
	//--bottom-left-char:'#{$bottom-left-char}';
	//--bottom-char:'#{$bottom-char}';
	//--bottom-right-char:'#{$bottom-right-char}';
	
	$fixed-border-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"><text width="8" height="8" x="0" y="8" fill="#{$top-left}" style="font-family:monospace;font-size:13px;fill:#{$top-left};">#{$top-left-char}</text><text width="8" height="8" x="0" y="24" fill="#{$bottom-left}" style="font-family:monospace;font-size:13px;fill:#{$bottom-left};">#{$bottom-left-char}</text><text width="8" height="8" x="0" y="16" fill="#{$left}" style="font-family:monospace;font-size:13px;fill:#{$left};">#{$left-char}</text><text width="8" height="8" x="8" y="8" fill="#{$top}" style="font-family:monospace;font-size:13px;fill:#{$top};">#{$top-char}</text><text width="8" height="8" x="8" y="24" fill="#{$bottom}" style="font-family:monospace;font-size:13px;fill:#{$bottom};">#{$bottom-char}</text><text width="8" height="8" x="16" y="8" fill="#{$top-right}" style="font-family:monospace;font-size:13px;fill:#{$top-right};">#{$top-right-char}</text><text width="8" height="8" x="16" y="16" fill="#{$right}" style="font-family:monospace;font-size:13px;fill:#{$right};">#{$right-char}</text><text width="8" height="8" x="16" y="24" fill="#{$bottom-right}" style="font-family:monospace;font-size:13px;fill:#{$bottom-right};">#{$bottom-right-char}</text></svg>') 8 repeat;
	border-image:$fixed-border-image;
	//$dyn-border-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"><text width="8" height="8" x="0" y="8" fill="' var(--top-left) '" style="font-family:monospace;font-size:13px;fill:' var(--top-left) ';">' var(--top-left-char) '</text><text width="8" height="8" x="0" y="24" fill="' var(--bottom-left) '" style="font-family:monospace;font-size:13px;fill:' var(--bottom-left) ';">' var(--bottom-left-char) '</text><text width="8" height="8" x="0" y="16" fill="' var(--left) '" style="font-family:monospace;font-size:13px;fill:' var(--left) ';">' var(--left-char) '</text><text width="8" height="8" x="8" y="8" fill="' var(--top) '" style="font-family:monospace;font-size:13px;fill:' var(--top) ';">' var(--top-char) '</text><text width="8" height="8" x="8" y="24" fill="' var(--bottom) '" style="font-family:monospace;font-size:13px;fill:' var(--bottom) ';">' var(--bottom-char) '</text><text width="8" height="8" x="16" y="8" fill="' var(--top-right) '" style="font-family:monospace;font-size:13px;fill:' var(--top-right) ';">' var(--top-right-char) '</text><text width="8" height="8" x="16" y="16" fill="' var(--right) '" style="font-family:monospace;font-size:13px;fill:' var(--right) ';">' var(--right-char) '</text><text width="8" height="8" x="16" y="24" fill="' var(--bottom-right) '" style="font-family:monospace;font-size:13px;fill:' var(--bottom-right) ';">' var(--bottom-right-char) '</text></svg>') 8 repeat;
	//border-image:$dyn-border-image;
}
@mixin boxshadow($color: #000000, $border-width: $boxdrawn-border-width){
	$color:'%23#{string.slice(#{$color}, 2)}';
	position:relative;
	background-color:map.get($default-theme, background-color);
	background-color:var(--background-color);
	overflow: visible;
	margin-bottom: 30px;
	&::before{
		content:'.';
		color:transparent;
		position:absolute;
		@if $border-width > 0 {
			width: 110%;
			height: 110%;
			width: calc(100% + (#{$border-width} * 2));
			height: calc(100% + (#{$border-width} * 2));	
			top: 3px;
			left: 0;
		}@else{
			width: 100%;
			height: 100%;
			top: $boxdrawn-border-width;
			left: $boxdrawn-border-width;
		}
		$char: '░';
		$img: 'data:image/svg+xml;charset=UTF-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" x="0px" y="0px" width="8" height="8" viewBox="0 0 8 8"><text width="8" height="8" x="0" y="8" fill="#{$color}" style="font-family:monospace;font-size:13px;fill:#{$color};">#{$char}</text></svg>';
		background-image: url($img);
		background-repeat: repeat repeat;
		z-index: -1;
	}
}
.boxdrawn-section{
	@include boxdrawn($boxdrawn-single-border);
	@include boxshadow;
}