html.portfolio-layout{
	width:100%;height:100%;
	body{
		width:100%;height:100%;
		.layout-container{

			width:100%;
			height:100%;
			display:grid;
	
			grid-template-columns: 1fr;
			grid-template-rows: #{$nav-height} 1fr 30px;
			grid-template-areas: 
			"nav"
			"content"
			"bar";

			header{ grid-area: nav; }
			.content-section{
				position:relative;
				height:100%;
				padding:10px;
			}
			.bar{
				grid-area: bar;
				height:30px;
				line-height: 30px;
				padding-left: 6px;
				background-color: map.get($default-theme, background-color);
				background-color: var(--background-color);
				*{margin-top:0;margin-bottom:0;}
			}

			@include breakpoint-medium{

				.content-section{
					overflow-x: auto;
					overflow-y: scroll;
					@include scroller;
					grid-area: content;	

					@include boxdrawn($boxdrawn-single-border);
					border-top:0px solid transparent;
					border-left:0px solid transparent;
					border-right:0px solid transparent;
				}
				.side-section{
					$border: (bottom-left-char: '┴');
					$border: map.merge($boxdrawn-single-border, $border);
					@include boxdrawn($border);
					border-top:0px solid transparent;
					border-right:0px solid transparent;

					@include flex(column);
				}

			}

			#logo{
				--font-size:20px;
			}

			#project-list{
				@include boxdrawn;
				border-top:0px solid transparent;
				border-bottom:0px solid transparent;
				border-right:0px solid transparent;
				position:relative;
				padding-top:40px;
				padding-bottom:40px;
				.project{
					padding-top: 25px;
					position: relative;
					&::before{
						content:'╠════════════○ ' attr(data-year);
						color:map.get($default-theme, ui-alt);
						color:var(--ui-alt);
						background-color:map.get($default-theme, background-color);
						background-color:var(--background-color);
						position: absolute;
						top:0;
						left:-#{$boxdrawn-border-width + 0.5};
						font-family: monospace;
						font-size:18px;
						line-height: 22px;
					}

					.project-preview{
						@include boxdrawn($boxdrawn-single-border);
						@include boxshadow;
						max-width:100%;
						max-width: 70vw;
						@include breakpoint-medium{
							margin-left:80px;
							& > figure{ max-width: 300px; }
						}
					}

				}
				&::before, &::after{
					position: absolute;
					left:-#{$boxdrawn-border-width};
					font-size: 18px;
					font-family: monospace;
					color:map.get($default-theme, ui-alt);
					color:var(--ui-alt);
					background-color:map.get($default-theme, background-color);
					background-color:var(--background-color);
					z-index:-1;
				}
				&::before{
					content:'○';
					top:-20px;
				}
				&::after{
					content:'○';
					bottom:-18px;
				}
			}

			.tech{ 
				color:map.get($default-theme, highlight-color);
				color:var(--highlight-color);
			}
			.year{
				&, & *{
					color:map.get($default-theme, ui-alt);
					color:var(--ui-alt);	
				}
			}

		}
	}
}