$dark-color:#292929;
$dark-alt:#474747;

$grey-color:#aaa;
$grey-alt:#888;

$blue-color:#283795;
$blue-alt:#1A237E;

$yellow-color:#FFCA28;
$yellow-alt:#FFAB00;

$red-color:#E53935;
$red-alt:#C62828;

$green-color:#00FF04;
$green-alt:#43A047;

$white:#ffffff;
$black:#000000;

$dark-theme: (
	dark-color:		$dark-color,
	dark-alt:		$dark-alt,
	blue-color:		$blue-color,
	blue-alt:		$blue-alt,
	grey-color:		$grey-color,
	grey-alt:		$grey-alt,
	red-color:		$red-color,
	red-alt:		$red-alt,
	green-color:	$green-color,
	green-alt:		$green-alt,
	yellow-color:	$yellow-color,
	yellow-alt:		$yellow-alt,

	background-color:$dark-color,
	background-alt: $dark-alt,
	background-font:$white,
	danger-color:$red-color,
	danger-alt: $red-alt,
	danger-font:$white,
	highlight-color:$green-color,
	highlight-alt: $green-alt,
	highlight-font:$black,
	clickable-color:$yellow-color,
	clickable-alt: $yellow-alt,
	clickable-font:$black,
	ui-color:$grey-color,
	ui-alt:$grey-alt,
	ui-font:$black,
	black:$black,
	white:$white
);


$dark-theme2: (
	dark-color:		#282822,
	dark-alt:		#2d2d2d,
	blue-color:		#428fdc,
	blue-alt:		#63a6e9,
	grey-color:		#7d8175,
	grey-alt:		#b5bda5,
	red-color:		#f74957,
	red-alt:		#f92672,
	green-color:	#2da160,
	green-alt:		#217645,
	yellow-color:	rgb(230, 219, 116),
	yellow-alt:		rgb(179, 169, 84),

	background-color:#272822,
	background-alt: #404338,
	background-font:#ccc,
	danger-color:#f74957,
	danger-alt: #f92672,
	danger-font:$white,
	highlight-color:#428fdc,
	highlight-alt: #63a6e9,
	highlight-font:$black,
	clickable-color:rgb(230, 219, 116),
	clickable-alt: rgb(179, 169, 84),
	clickable-font:$black,
	ui-color:#7d8175,
	ui-alt:#b5bda5,
	ui-font:$black,
	black:$black,
	white:$white
);

$light-theme: (
	dark-color:		$dark-color,
	dark-alt:		$dark-alt,
	blue-color:		$blue-color,
	blue-alt:		$blue-alt,
	grey-color:		$grey-color,
	grey-alt:		$grey-alt,
	red-color:		$red-color,
	red-alt:		$red-alt,
	green-color:	$green-color,
	green-alt:		$green-alt,
	yellow-color:	$yellow-color,
	yellow-alt:		$yellow-alt,

	background-color:$blue-color,
	background-alt: $blue-alt,
	background-font:$white,
	danger-color:$red-color,
	danger-alt: $red-alt,
	danger-font:$white,
	highlight-color: $green-color,
	highlight-alt: $green-alt,
	highlight-font:$black,
	clickable-color:$yellow-color,
	clickable-alt: $yellow-alt,
	clickable-font:$black,
	ui-color:$grey-color,
	ui-alt:$grey-alt,
	ui-font:$black,
	black:$black,
	white:$white
);

$default-theme: $dark-theme2;

:root{
	--white:#{$white};
	--black:#{$black};
	@each $key, $val in $default-theme{
		--#{$key}: #{$val};
	}
}
.light-theme{
	@each $key, $val in $light-theme{
		--#{$key}: #{$val};
	}
}
.dark-theme{
	@each $key, $val in $dark-theme2{
		--#{$key}: #{$val};
	}
}
.danger{
	color:var(--danger-color);
}
.highlight{
	color:var(--highlight-color);
}
.yellow{
	color:var(--yellow-color);
}
.danger-alt{
	color:var(--danger-alt);
}
.highlight-alt{
	color:var(--highlight-alt);
}
.yellow-alt{
	color:var(--yellow-alt);
}