/*
*
* fonts from; VileR - https://int10h.org/oldschool-pc-fonts/
*
*/

@font-face {
    font-family: 'cordata';
    src: url('font/web437_cordata_ppc-21-webfont.woff2') format('woff2'),
         url('font/web437_cordata_ppc-21-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'courier';
    src: url('font/Courier New Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$regular-font: 'cordata';
$big-font: 'cordata';
$font-size: max(1.45vw, 16px);
$line-height:1.5rem;
$monospace: 'Courier New', 'courier', monospace;

:root{
	--regular-font: #{$regular-font};
	--big-font: #{$big-font};
	--font-size: #{$font-size};
	--line-height: #{$line-height};
	--monospace: #{$monospace};
}