$breakpoint-small:600px;
$breakpoint-medium:950px;
$breakpoint-big:1280px;
$breakpoint-hd:1980px;

@mixin breakpoint-small($force: false) {
    @if $force == false {
        @media (min-width:$breakpoint-small) {
            @content;
        }    
    }@else{
        @media (min-width:0px) and (max-width:$breakpoint-small) {
            @content;
        }    
    }
}
@mixin breakpoint-medium($force: false) {
    @if $force == false {
        @media (min-width:$breakpoint-medium) {
            @content;
        }    
    }@else{
        @media (min-width: ($breakpoint-small + 1)) and (max-width:$breakpoint-medium) {
            @content;
        }    
    }
}
@mixin breakpoint-big($force: false) {
    @if $force == false {
        @media (min-width:$breakpoint-big) {
            @content;
        }    
    }@else{
        @media (min-width: ($breakpoint-medium + 1)) and (max-width:$breakpoint-big) {
            @content;
        }    
    }
}
@mixin breakpoint-hd($force: false) {
    @if $force == false {
        @media (min-width:$breakpoint-hd) {
            @content;
        }    
    }@else{
        @media (min-width: ($breakpoint-big + 1)) and (max-width:$breakpoint-hd) {
            @content;
        }    
    }
}
@mixin media-breakpoints(){
    $breakpoint: null;
    $suffix: '';
	@content($breakpoint, $suffix);
	@include breakpoint-small{
        $breakpoint: sm;
        $suffix: -#{$breakpoint};
		@content($breakpoint, $suffix);
	}
	@include breakpoint-medium{
        $breakpoint: md;
        $suffix: -#{$breakpoint};
		@content($breakpoint, $suffix);
	}
	@include breakpoint-big{
        $breakpoint: bg;
        $suffix: -#{$breakpoint};
		@content($breakpoint, $suffix);
	}
	@include breakpoint-hd{
        $breakpoint: hd;
        $suffix: -#{$breakpoint};
		@content($breakpoint, $suffix);
	}
}