<!DOCTYPE html>
<html lang="en" dir="ltr" class="emacs-frames">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    

<meta name="title" content="{{page.title}}">
<link rel="canonical" href="{{page.permalink | relative_url}}">
<meta name="description" content="{{page.summary}}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.title}} | {{page.name}}</title>
	{% include favicons %}
	<link rel="stylesheet" media="all" href="{{ "/css/style.css" | relative_url }}">

</head>

<body>    

<div class="layout-container">

    <div class="logo frame">
      <div class="content flex-row x-center y-center">
        {% include logo mode="mr" class="no-grow" %}
      </div><!-- /.content -->
      <div class="bar"></div>
    </div><!-- /.col-md-4.terminal -->

    <div class="main frame">
      <div class="content">

        <main role="main">
          <div class="layout-content">

            {% if page.collection != "web_logs" and page.collection != "taxonomy" %}

              {% if page.imgpath %}
                {% assign image_description = page.imgdescription|markdownify %}
                {% include image src=page.imgpath width=page.imgwidth height=page.imgheight alt=page.title description=image_description %}
              {% endif %}

              {% if page.tags %}
              <ul type="none" class="w-100 overflow-hidden">
                <li class="position-relative float-left mr-2">Tags:</li>
                {% for tag in page.tags%}
                <li class="position-relative float-left mr-2"><a href="{{tag | prepend: "/tags/" | downcase | replace: " ", "-" | relative_url }}">{{tag}}</a></li>
                {% endfor %}
              </ul>
              {% endif %}

            {% endif %}

            {% if page.collection != "web_logs"%}

              {% if page.title %}
                <h1 class="page-title">
                  <span>{{page.title}}</span>
                </h1>
              {% endif %}

            {% endif %}

            {% if page.collection == "web_logs" %}

              <ul type="none">
              {% assign posts = site.posts|where: "web_log", page.name %}
              {% for post in posts %}
                {% assign author = site.authors|where: "name", post.author|first %}
                <li>
                  <div class="post"> 
                    {% assign image_description = post.imgdescription|markdownify %}
                    {% include image src=post.imgpath width=post.imgwidth height=post.imgheight url=post.url alt=post.title description=image_description %}
                    <div>
                      <h2><a href="{{post.url | relative_url}}">{{post.title}}</a></h2>
	                  <span>by {{author.title}}</span><br>
                      {{post.summary}}
                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>
            {% elsif page.collection == "taxonomy" %}
              <ul type="none">
                {% for tag in site.tags %}

                {% assign tag_name = tag[0] | downcase | replace: " ", "-" %}
                {% if tag_name == page.name %}

                  {% assign posts = tag[1] %}
                  {% for post in posts %}
                  {% assign author = site.authors|where: "name", post.author|first %}
                  <li>
                    <div class="post"> 
                      {% assign image_description = post.imgdescription|markdownify %}
                      {% include image src=post.imgpath width=post.imgwidth height=post.imgheight url=post.url alt=post.title description=image_description %}
                      <div>
                        <h2><a href="{{post.url | relative_url}}">{{post.title}}</a></h2>
	                    <span>by {{author.title}}</span><br>
                        {{post.summary}}
                      </div>
                    </div>
                  </li>
                  {% endfor %}

                {% endif %}

                {% endfor %}
              </ul>
            {% else %}
              {{ content }}
            {% endif %}

          </div>
        </main>

        <div></div>

      </div><!-- /.content -->
      <div class="bar"></div>
    </div><!-- /.col-12.col-md-8.terminal.has-navigation -->

	<div class="side frame">
		<div class="content">
		  <aside class="layout-sidebar" role="complementary">
			{% if page.collection == "web_logs" %}
			  {% include {{page.name}} width="400" height="50" %}
			  {{ content }}
			{% endif %}
			{% if page.web_log %}
			  {% assign web_log = site.web_logs|where: "name", page.web_log|first %}
			  {% include {{web_log.name}} width="400" height="50" %}
			  {{ web_log.content }}
			{% endif %}
			{% include side.html %}
		  </aside>
		</div><!-- /.content -->
		<div class="bar"></div>
	</div><!-- /.col-md-4.terminal -->
  
</div><!-- /.layout-container -->

<div class="minibuffer col-12"></div>
    
<script type="module" src="{{"/js/frames.mjs"|relative_url}}"></script>

</body></html>
