<!DOCTYPE html>
<html lang="en" dir="ltr" class="manpage">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <meta name="title" content="{{page.title}}">
    <link rel="canonical" href="{{page.permalink}}">
    <meta name="description" content="{{page.summary}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{page.title}} | {{page.name}}</title>
	{% include favicons %}
    <link rel="stylesheet" media="all" href="{{ "/css/style.css" | relative_url }}">
  </head>

  <body>    

    <main class="layout-container w-90-md mx-auto pb-5">
    	<header class="container">
        	<div class="row">

        	  <div class="col font-weight-bold">{{page.manpage_title_short}}(1)</div>
        	  <div class="col text-center font-weight-bold">
						{% if page.manpage_title_short %}
							<span class="display-none display-inherit-md">{{page.manpage_title|default:page.title}}</span>
							<span class="display-none-md display-inherit">{{page.manpage_title_short}}</span>
						{% else %}
							{{page.manpage_title|default:page.title}}
						{% endif %}
						</div>
        	  <div class="col text-right font-weight-bold">{{page.manpage_title_short}}(1)</div>
			
        	</div><!-- /.row -->
		</header><!-- /.container -->

		<section>
			<article class="container">
				{{content}}
			</article>
		</section>
        
		<footer class="container">

			<div class="mt-5 final row">

        	  <div class="col font-weight-bold">{{page.manpage_version}}</div>
        	  <div class="col text-center font-weight-bold">{{page.manpage_date}}</div>
        	  <div class="col text-right font-weight-bold">{{page.manpage_title_short}}(1)</div>
			
        	</div><!-- /.row -->

			<div class="my-5">
				{% include legal.html %}
			</div>
		
        	<div class="bar display-none display-inherit-md"></div>

    	</footer><!-- /.container -->
    </main><!-- /.layout-container -->
    
    <script type="module" src="{{"/js/manpage.mjs"|relative_url}}"></script>

  </body>

</html>
